/* ==========================
   Global Reset & Variables
   ========================== */
:root {
  --primary-color: #3b82f6;
  --secondary-color: #50c3c7;
  --button-hover-color: #2563eb;
  --text-dark: #374151;
  --text-light: #555;
  --background-light: #f9f9f9;
  --box-shadow-light: 0 4px 12px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ==========================
     Property Count Section
     ========================== */
.property-count-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--background-light);
  border-radius: 12px;
  box-shadow: var(--box-shadow-light);
  max-width: 300px;
  margin: 20px auto;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  height: fit-content;
}

.property-count-container:hover {
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-hover);
}

.property-count-container label {
  font-size: 14px;
  font-weight: 500;
  color: var(--text-light);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

.property-count {
  font-size: 36px;
  font-weight: bold;
  color: #3b3b3b;
  margin-bottom: 5px;
}

.property-count-close {
  display: none;
}

/* ==========================
     Buttons
     ========================== */
.browse-data-button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
  text-align: center;
}

.browse-data-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 123, 255, 0.4);
}

.browse-data-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);
}

/* ==========================
     Layout and Containers
     ========================== */
.content {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  font-family: "Inter", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Arial, sans-serif;
}

/* Sidebar */
.filter-container {
  flex: 1 1 300px;
  max-width: 300px;
  padding: 15px;
  background-color: #f3f4f6;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: calc(100% - 20px);
  overflow-y: auto;
}

/* ==========================
     Inputs and Dropdowns
     ========================== */
.text-input-range,
.text-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #d1d5db;
  border-radius: 100px;
  font-size: 1em;
}

/* Dropdown Styling */
.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-btn {
  padding: 10px;
  background-color: #ffffff;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 100px;
  cursor: pointer;
  text-align: left;
  font-size: 1em;
  transition: background-color 0.2s;
  width: 100%;
  margin-bottom: 5px;
}

.dropdown-btn:hover {
  background-color: #f0f0f0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
  overflow-y: auto;
  max-height: 300px;
  border-radius: 20px;
}

.dropdown-content label {
  display: block;
  padding: 8px;
  cursor: pointer;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.input-group {
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
}

/* ==========================
     Side panel buttons
     ========================== */
.filter-button {
  background-color: #50c3c7;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}

.clear-filter-button {
  background-color: #8a8a8a;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 100px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.filter-button:hover {
  background-color: #2563eb;
}

.clear-filter-button:hover {
  background-color: #7c7c7c;
}

/* ==========================
     Map and Detail Panel
     ========================== */
.map-container {
  flex: 2 1 0;
  margin: 10px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 60vh;
}

#map {
  width: 100%;
  height: 100%;
}

.detail-panel-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 90%;
  max-width: 350px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: var(--box-shadow-hover);
  overflow: hidden;
}

.detail-panel-title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
}

/* ==========================
     Accessibility Enhancements
     ========================== */
.browse-data-button:focus,
.filter-button:focus {
  outline: 2px solid #0056b3;
}

.hidden {
  display: none;
}

/* ==========================
     Map Desc Title
     ========================== */

.map-title {
  position: absolute;
  /* background-color: white; */
  text-align: center;
  z-index: 1000;
  top: 10px;
  right: 30%;
  transform: translate(-50%);
  padding: 5px 15px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.default-map-title-label {
  color: rgb(20, 20, 20);
}

.result-map-title-label {
  color: rgb(5, 146, 0);
}

.no-result-map-title-label {
  color: rgb(190, 0, 0);
}

/* ==========================
     Tooltip label style
     ========================== */
.property-label-tooltip {
  /* background-color: rgba(255, 255, 255, 0.9); */
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  border-radius: 20px;
  width: 35px;
  height: 35px;
  color: #3b82f6;
}

.filtered-label {
  color: #ff7800; /* Orange for filtered count */
}

.default-label {
  color: #3388ff; /* Blue for all properties count */
}

/* ==========================
     Loading Overlay
     ========================== */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.2); /* Shaded background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
  font-size: 2em;
  font-family: Arial, sans-serif;
  backdrop-filter: blur(3px);
  opacity: 1; /* Default state */
  visibility: visible; /* Default state */
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.hidden {
  opacity: 0; /* Fade out */
  visibility: hidden; /* Remove from view after fade-out */
}

/* #map-container {
  position: relative;
} */

#search-bar-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  z-index: 1000;
}

#search-bar {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  outline: none;
}

#search-bar:focus {
  border-color: #3388ff;
}

#suggestion-list {
  margin: 5px;
  padding: 0;
  list-style-type: none;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: absolute;
  width: 100%;
  border-radius: 0 0 4px 4px;
  display: none;
  border-radius: 10px;
}

#suggestion-list li {
  padding: 8px;
  cursor: pointer;
}

#suggestion-list li:hover {
  background-color: #f0f0f0;
}

@media (max-width: 1366px) {
  body {
    font-size: 12px;
  }
}

/* Mobile Styles */
@media (max-width: 768px) {
  /* General Reset */
  * {
    font-size: 14px; /* Slightly reduce default font size */
  }

  .loading-overlay {
    height: 100%;
  }

  /* Sidebar Adjustments */
  .filter-container {
    flex: 1 1 auto; /* Allow flexible resizing */
    max-width: 100%; /* Full width on mobile */
    margin: 10px 5px; /* Adjust margins */
    height: auto; /* Allow height to adjust */
    overflow-y: visible; /* Remove scroll */
    order: 2;
  }

  /* Map Container */
  .map-container {
    flex: 1 1 auto; /* Adjust flex-grow */
    min-height: 40vh; /* Reduce map height */
    min-width: 320px;
    order: 1;
  }

  /* Buttons */
  .browse-data-button,
  .filter-button,
  .clear-filter-button {
    padding: 8px 15px; /* Reduce padding */
    font-size: 12px; /* Smaller text */
  }

  /* Dropdown Adjustments */
  .dropdown-btn {
    font-size: 14px; /* Reduce dropdown button font size */
  }

  /* Detail Panel */
  .detail-panel-container {
    position: relative; /* Move from fixed to relative for better stacking */
    bottom: auto;
    right: auto;
    width: 95%; /* Use most of the screen width */
    margin: 10px auto; /* Center align */
  }

  /* Map Title Adjustments */
  .map-title {
    top: 5px; /* Move title higher */
    right: -90px;
    width: 200px;
    padding: 5px 10px; /* Reduce padding */
    font-size: 0.9em; /* Reduce font size */
  }

  /* Message Adjustments */
  #noPropertiesMessage {
    font-size: 12px; /* Reduce font size for better fit */
    margin-top: 10px;
  }

  /* Filter Input Fields */
  .text-input,
  .text-input-range {
    padding: 8px; /* Reduce padding */
    font-size: 14px; /* Adjust font size */
  }

  /* Dropdown Content */
  .dropdown-content {
    max-height: 300px; /* Reduce max-height for dropdowns */
  }

  .bed-bath-container {
    display: flex;
    flex-direction: row; /* Arrange children horizontally */
    justify-content: space-between; /* Space out the inputs */
    gap: 10px; /* Add some space between the two inputs */
  }

  .bedrooms-input,
  .bathrooms-input {
    flex: 1; /* Make both inputs take equal width */
  }

  .filter-button {
    position: absolute;
    z-index: 2000;
    padding: 10px 25px;
    font-size: 18px;
    top: 35%;
    right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }

  /* ------------- property count card ----------- */
  /* .property-count-container {
    padding: 12px;
    max-width: 90%; 
    margin: 10px auto; 
  }

  .property-count-container {
    width: 100%;
  }

  .property-count-container label {
    font-size: 12px;
  }

  #propertyCount {
    font-size: 36px;
  }

  .browse-data-button {
    width: 100%;
  } */

  .property-count-container {
    position: fixed;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 90%;
    max-width: none;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    background-color: #ffffff; /* Modern-style white card */
    animation: fadeInUp 0.3s ease-in-out;
  }

  .property-count-container:hover {
    transform: translateX(-50%) translateY(-5px); /* Ensure hover transform works correctly */
  }

  #propertyCount {
    font-size: 36px;
    font-weight: bold;
    color: #3b3b3b;
    margin-bottom: 5px;
  }

  .property-count-buttons {
    display: flex;
    flex-direction: row;
  }
  .property-count-close {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #303030;
    background-color: var(--primary-color-l1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px 20px;
    display: flex;
    margin-right: 10px;
  }

  .browse-data-button {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
    text-align: center;
  }

  /* ------------ search bar -------------- */
  #search-bar-container {
    position: absolute;
    margin-top: 5px;
    top: 50px;
    right: 5px;
    width: 200px;
    z-index: 2000;
  }

  #search-bar {
    font-size: 12px;
    width: 200px;
    padding: 10px;
  }
}

@media (max-width: 320px) {
  /* Map Container */
  .map-container {
    min-width: 160px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}
