.detail-panel-container {
  position: absolute;
  z-index: 1000;
  top: 60px;
  right: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 50px;

  border-radius: 8px;
  background-color: var(--background-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.detail-panel-title {
  height: 40px;
  background-color: blue;
}

.detail-panel-body {
  max-height: 200px;
  overflow-y: scroll;
}
