.leaflet-popup-content {
  width: 200px;
  max-height: 300px;
  font-family: Arial, sans-serif;
}

.popup-title {
  width: 200px;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: white;
  padding: 0;
  color: var(--text-color);
  text-align: center;
}

.popup-description {
  font-size: 12px;
  color: var(--text-color-light);
  background-color: var(--background-color-dark);
  padding: 3px 10px;
  border-radius: 5px;
}

.popup-container {
  overflow-y: scroll;
  max-height: 200px;
}

.popup-rows {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.popup-rows:hover {
  cursor: pointer;
  opacity: 0.8;
}

.property-type {
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color-light);
}

.property-price {
  font-size: 10px;
  margin-left: 10px;
  padding: 3px 10px;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: white;
}
